.footer {
  background-color: #f1eadc;
  padding: 100px 0;
}

.footer a {
  color: #000;
}

.footer a:hover {
  color: #6e9c9f;
}

.pf100 {
  padding: 100px 0;
}

.footerContentWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.policyItem:not(:first-child) {
  margin-top: 6px;
}

.policyItem:first-child {
  margin-top: 40px;
}

.footerMenu {
  display: flex;
  flex-direction: row;
  color: #000;
}

.footerMenuItem:not(last-child) {
  margin-right: 41px;
}

.footerMenuItem:last-child {
  margin: 0;
}

.products {
  max-width: 70px;
}

.products li:first-child {
  margin: 40px 0 10px 0;
}

.products li:not(:first-child) {
  margin-top: 10px;
}

.rightMenuItem,
.products li a {
  font-size: 15px;
  color: #000;
  border: 1px solid transparent;
}

.footerMenuLink:hover,
.rightMenuItem:hover,
.socialsIcon:hover,
.products li:hover {
  transform: scale(1.1);
  transition: all 0.5s ease;
}

.woomail {
  margin-top: 9px;
  margin-bottom: 30px;
}

.socialsWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
  color: black;
}

.socials {
  display: inline-flex;
  margin-bottom: 20px;
}

.socialsIcon {
  width: 23px;
  height: 23px;
  display: block;
}

/* .socialsIcon:hover {
  transform: scale(1.1);
  transition: all 0.5s ease;
} */

.socialsLink:not(:last-child) {
  margin-right: 12px;
}

/* .socialsInst {
  background-image: url(../../img/instagram.png);
  background-repeat: no-repeat;
} */

/* .cards {
  width: 68px;
  height: 22px;
} */

.card {
  width: 23px;
  height: 23px;
  /* background-image: url(../../img/twitter.png);
  background-repeat: no-repeat; */
}

.card:not(:last-child) {
  margin-right: 12px;
}
