/*   Collection section styles  */

.collection-item {
  display: block;
  text-align: center;
}

.collection-item-img {
  max-width: 350px;
  overflow: hidden;
  z-index: 0;
  position: relative;
}

.collection-item-img::before {
  content: '';
  background: rgba(110, 156, 159, 0.64);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  transition: all 0.4s ease-out 0s;
}

.collection-item-link {
  content: '';
  width: 32px;
  height: 24px;
  position: absolute;
  background-image: url(../../img/arrow-right1.png);
  cursor: pointer;
  z-index: 2;
  top: 50%;
  left: 50%;
  opacity: 0;
}

.collection-item-img:hover .collection-item-product {
  opacity: 0.4;
}

.collection-item-img:hover::before {
  visibility: visible;
  opacity: 1;
  transition: all 0.9s ease;
}

.collection-item-img:hover .collection-item-link {
  visibility: visible;
  opacity: 1;
  cursor: pointer;
}

.collection-item-name {
  margin-top: 24px;
  margin-bottom: 7px;
}

.collection-item-price {
  color: #998e78;
}

.collection-item-price-wrapper {
  display: flex;
  justify-content: center;
}

.collection-item-oldprice {
  margin-right: 10px;
  color: #998e78;
  text-decoration: line-through;
}

.collection-btn {
  margin-top: 65px;
}
